@font-face {
   font-family: "BebasNeueRegular";
   src: local("Bebas Neue"),
    url("./fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype");
}

@font-face {
   font-family: "JetBrains Mono";
   src: local("JetBrains_Mono"),
    url("./fonts/JetBrains_Mono/static/JetBrainsMono-SemiBold.ttf") format("truetype");
}

body {
  background-color: #282c34;
  color: white;
}

.App {
  margin: 0;
}

.byLine {
  font-family: 'BebasNeueRegular', cursive;
}

.byLine {
  color: rgba(255 255 255 / 25%);
}

.mainContent {
  margin: 1em;
}

.fileSummary {
  padding: 1em;
  background-color: #333;
  margin: 2em;
  color: antiquewhite;
}

.fileSummary .filename {
  padding-right: 1em;
  font-weight: bold;
  color: #a3b3d5;
}

.fileSummary .filesize {
  padding-right: 1em;
  font-family: "JetBrains Mono", monospace;
}

.dataDetail > span {
  margin-right: 1em;
}

.hexbytes {
  width: 64ch;
  margin-top: 1em;
  display: grid;
  gap: 0.12em;
  grid-template-columns: repeat(16, 1fr);
  grid-column-start: 1;
  grid-column-end: 16;
  align-items: center;
  justify-content: center;
}

.hexbyte {
  font-family: "JetBrains Mono", monospace;
  font-weight: bold;
  font-size: medium;
  color: #e3d5c9;
}

.actionResult > .line {
  font-family: "JetBrains Mono", monospace;
  margin-top: 3px;
}

.hloc {
  background-color: #a3b3d5;
  color: #313131;
  padding: 1px 3px;
  margin-left: 3px;
  border-radius: 2px;
  font-weight: bold;
}
.pct {
  font-weight: bold;
}

.addr {
  margin-right: 1em;
}

.hex {
  min-width: 9ch;
  width: 9ch;
}

.dis {
  position: absolute;
  left: 29ch;
}